<%= simple_form_for @post, url: posts_path do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-4">
    <%= form.text_field :title, class: "form-control", placeholder: "Title *" %>
  </div>

  <div class="form-group mb-4">
    <%= form.text_area :body, class: "form-control", placeholder: "Body *" %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="col-md-12">
    <%= form.select :hashtag_ids, options_from_collection_for_select(Hashtag.order(:title), 
    "post_form_attribute", "title"), { include_blank: true, required: false, include_hidden: false }, 
    class: "form-group mb-4", multiple: "multiple" %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
