<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @post.title %></h1>

<%- if @post.image_url.present? %>
  <%= image_tag @post.image_url, class: "img-fluid post-image" %>
<% end %>

<p class="mt-2 mb-2">
  <small>
    Hashtags: <%= raw @post.hashtags.map(&:title)
    .map { |hashtag| link_to hashtag, posts_path(hashtag: hashtag) }.join(", ") %>
  </small>
</p>

<p>
  <%= @post.body.html_safe %>
</p>

<%- if current_user.present? %>
  <%= link_to "Edit", edit_post_path(@post), class: "btn btn-secondary" %>
  <%= link_to "Destroy", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>